@font-face {
    font-family: play pretend;
    src: url(Fonts/Space\ Superstars.otf);
}
@font-face {
    font-family:Playstrong ;
    src: url(Fonts/UEFAPlaystrong-Regular.ttf);
}
@font-face {
    font-family:crescent ;
    src: url(Fonts/CaviarDreams.ttf);
}
.container-fluid{
    background-color: rgb(255, 255, 255);
}
a.navbar-brand{
    text-align: center;
    margin-left: 600px;
    font-family: play pretend;
    font-size: 35px;
}
span{
    font-size: 30px;
}
nav.navbar.bg-body-tertiary.fixed-top{
    background-color: rgb(255, 255, 255);
    margin:0;
    padding:0;
}
nav{
    background-color: transparent;
}
navbar-toggler-icon, button.navbar-toggler{
    border:0
}
button.navbar-toggler:focus{
    border:0;
    box-shadow:none;
}
button.cart{
    background: none;
    border:0
}
/*page 1*/
.page1{
    height:90vh;
    margin-top:10vh;
}