@font-face {
    font-family: play pretend;
    src: url(Fonts/Space\ Superstars.otf);
}
@font-face {
    font-family:Playstrong ;
    src: url(Fonts/UEFAPlaystrong-Regular.ttf);
}
@font-face {
    font-family:crescent ;
    src: url(Fonts/CaviarDreams.ttf);
}
.container-fluid{
    background-color: rgb(255, 255, 255);
}
a.navbar-brand{
    text-align: center;
    margin-left: 600px;
    font-family: play pretend;
    font-size: 35px;
}
nav.navbar.bg-body-tertiary.fixed-top{
    background-color: rgb(255, 255, 255);
    margin:0;
    padding:0;
}
nav{
    background-color: transparent;
}
span{
    font-size: 30px;
}
nnavbar-toggler-icon, button.navbar-toggler{
    border:0
}
button.navbar-toggler:focus{
    border:0;
    box-shadow:none;
}
.card1 {
    visibility: hidden;
    position: absolute;
    margin-top:15vh;
    margin-left: 20vh;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    z-index: 10;
    width: 1080px;
    height: 75vh;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }
   
   
/*Page 1*/
.page1{
    height:90vh;
    display:flex;
    flex-direction: row;
    margin-top:10vh;
}
.photos{
    height:80vh;
    width:48%;
    margin:10px;
    margin-top:30px
}

.info{
    height:80vh;
    width:48%;
    margin: 10px;
    margin-top:30px;
    font-family:Playstrong ;
    margin-right:90px;
    display: flex;
    flex-direction: column;
    transition: width 2s, height 2s, transform 2s;
}
img{
    height:70vh;
}

  
/*rate*/
.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 25px;
    color: #666;
  }
  
  .rating:not(:checked) > label:before {
    content: '★';
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }
  
  .rating > input:checked ~ label {
    color: #ffa723;
  }
  .rating>input{
    font-size: 15px;
  }
.rating{
    margin-right:490px;
}
  
  
  
  
.inf{
    margin:10px 20px;
}
/* button */
.opt{
    display: flex;
    flex-direction:column ;
}
.bttn {
    width: 6.5em;
    height: 2.3em;
    margin:  10px 20px 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   button.bttn:hover {
    color: black;
   }
   
   button.bttn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   button.bttn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }
   .dropdown{
    height: fit-content;
    margin: 10px 20px;
   }

    #content{
        visibility: hidden;
        z-index: 2;
        width: 500px;
        margin: auto;
        position: fixed;
        top:50%;
        right:50%;
        left: 50%;
        bottom: 50%;
        height:fit-content;
        border-radius: 30px;
        background: #e0e0e0;
        box-shadow: 15px 15px 30px #bebebe,
                   -15px -15px 30px #ffffff;
      }
   #click{
    background: transparent;
    border: 0;
    text-decoration: underline;
    margin:10px 20px;
    padding:0;
    width:130px;
   }
/*Page 2*/
.page2{
    height:90vh;
}
h4.prod-detail{
    font-family: playstrong;
    font-size: 50px;
}
p.prod-info{
    font-family:playstrong;
    font-size: 25px;
}
#cross{
    background: none;
    border: 0;
    margin:10px;
    font-size: 30px;
    display: block;
}
#cart{
    background: none;
    border: 0;
}