@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
@font-face {
    font-family: play pretend;
    src: url(Fonts/Space\ Superstars.otf);
}
@font-face {
    font-family:Playstrong ;
    src: url(Fonts/UEFAPlaystrong-Regular.ttf);
}
@font-face {
    font-family:crescent ;
    src: url(Fonts/CaviarDreams.ttf);
}

.container-fluid{
    background-color: rgb(255, 255, 255);
}
a.navbar-brand{
    text-align: center;
    margin-left: 600px;
    font-family: play pretend;
    font-size: 35px;
}
nav.navbar.bg-body-tertiary.fixed-top{
    background-color: rgb(255, 255, 255);
    margin:0;
    padding:0;
}
nav{
    background-color: transparent;
}
span{
    font-size: 30px;
}
.page1{
    height:100vh;
    background:white;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  
    flex-direction: row;
    display: flex;
   box-shadow: inset 0px -200px 200px -100px #CCC; 
}
.sungl{
    color: black;
    font-size: 60px;
    margin-left:50px;
    font-family: Playstrong;
    text-align: center;
}
.sungls{
    display: flex;
    flex-direction: column;
   margin-top: 30vh;

}
.model{
  margin: 100px;
}


div.sungls, p.sungl{
    margin-bottom:0;
}
navbar-toggler-icon, button.navbar-toggler{
    border:0
}
button.navbar-toggler:focus{
    border:0;
    box-shadow:none;
}
.desc{
    margin-left:50px;
    font-family: Playstrong;
    width: 300px;
    text-align: center;
}
.btton {
    display:block;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #000000;
    width: 150px;
    margin-left:120px;
    margin-top:20px;
  }
  
  .btton:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #000000;
    box-shadow: 4px 5px 17px -4px #000000;
  }
  
  .btton::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #000000;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .btton:hover::before {
    width: 250%;
  }
  /*page2*/
  .products{
    text-align: center;
    background-color: white;
    width: 100%;
    font-size: 35px;
    font-family: Playstrong;
  }
  .page2{
    height:100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .box{
    margin:20px;
   height:450px;
   width:300px;
   display: block;
   background-color: #e2e2e2;
  }
  .watch{
    width:200px;
    margin:auto;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    margin-top:40px
  }
  .card{
    flex-wrap: nowrap;
    margin:0 40px 20px 40px;
    overflow: hidden;
  }
  .row1{
    display: flex;
    flex-direction: row;
    margin: 20px;
  }
  .card-title{
    font-family: Playstrong;
    overflow: hidden;
  }
  .row2{
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-bottom: 20px;
  }
  
  .cta {
    border: none;
    background: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #wallet{
    margin:25px 0 25px 0;

  }
  .card-img-top{
    transition: transform .5s ease;
    overflow: hidden;
  }
  .card-img-top:hover{
    overflow: hidden;
    transform: scale(1.12);
  }
  div.card-body:hover{
    overflow: hidden;
  }
  div.gap{
    height:60vh;
    margin-top:67vh;
    background:black;
    background-position: center center;
    background-size:contain;
  }
  .gap>.dwarf{
    height:0.5vh;
    width:100%
  }
  .gap>h1,.gap>p{
    color:white;
    margin-top:20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  .gap>p{
    font-family: crescent;
  }
  .gap>p{
    margin-top:0;
    font-size:20px;
  }
  span.h{
    font-family: play pretend;
    font-size: 20px;
  }
  .gap>.boxmng{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-content: center;
    margin-top:70px;
  }
  .boxes{
    text-align: center;
    color: white;
  }
  .boxes>h3{
    font-size:50px;
    font-weight: 700;
  }
  .boxes>p{
    font-family:crescent;
  }
  .float{
    z-index: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom:80px;
    justify-content: space-around;
  }
  .float>.comp{
    display: block;
    width: 400px;
    height:250px;
    background-color: white;
    border-radius:20px;
    z-index:100;
    position:relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .comp>h2{
    font-size: 70px;
    text-align: center;
    color:black;
    margin-top:20px;
  }
  .comp>p{
    font-family: Poppins;
    color:black;
    font-size:15px;
    font-weight:600;
    text-align: center;
    margin:15px;
    margin-top:25px;
  }
  marquee{
    font-family:poppins;
    font-weight:900 ;
    font-size:60px;
    background: black;
    color: white;
   }
   .card {
    width: 95%;
    height: 25vh;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background: #fff;
    border-radius: 20px;
  }
  .contact{
    align-content: center;
    margin:20px;
  }
  
  .card > * {
    margin: 0;
  }
  
  span.card__title {
    font-size: 29px;
    font-weight: 900;
    color: #333;
  }
  
  .card__content {
    font-size: 19px;
    line-height: 18px;
    color: #333;
  }
  
  .card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card__form input {
    margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding:0.6rem;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
    padding-right:10grem;
  }
  
  .card__form button {
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
    margin:20px;
  }
  
  .sign-up:hover {
    opacity: 0.8;
  } 
  
   footer{
    height:55vh;
    display: flex;
    flex-direction: row;
    background-color: black;
   }
   footer>.side{
    width:50%;
   }
   .side>h3{
    color: white;
    margin:10px;
    font-weight: 400;
   }
   .right>p{
    color: white;
    margin:10px;
    margin-top:20px;
   }
   .side{
    margin:30px
   }
   .insta,.github,.linkedin{
    display: flex;
    flex-direction: row;
    margin:10px;
   }
   .insta>a>i{
    font-weight: 800;
    font-size: 30px;
    padding:0;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
   .mid>.insta>a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    margin-bottom:20px;
    color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
   }
   .insta>p,.github>p,.linkedin>p{
    font-size: 20px;
    color: white;
    margin-left:10px;
   }
   .github>a>i , .linkedin>a>i{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 30px;
   }
   .linkedin>a>i{
    color:#285AEB
   }
   .left>p>i{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 20px;
   }
   .left>p{
    font-size: 20px;
    color: white;
    margin-left:10px;
   }
   .left>.map>p{
    font-size: 15px;
    color: white;
   }